save_path       models/ptb-norm-wsj_64e_256h_steps200/
log_dir         logs/
log                     ptb-norm-wsj_64e_256h_steps200_grad
data_path       data/PTB_WSJ-norm
vocab_size      10000
vocab           False
basic_cell      LSTM
num_layers      1
embedding_size  64
size    `       256
num_steps       200
init_scale      0.05
learning_rate   1       
max_grad_norm   5
batch_size      1
forget_bias     0
dropout         0.5
max_epoch       6
max_max_epoch   39
lr_decay        0.8
optimizer       sgd
trainer         trainer
softmax         full
no_emb_dropout  True
grad_interm     cell
time_step       0
max_delay       50
grad_dir        gradients/grad_ptb-norm-wsj_64e_256h_steps200/timestep_0
